[submodule "frontend"]
	path = frontend
	url = git@github.com:frontend-backend-project-2022/frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:frontend-backend-project-2022/backend.git
